---
import Layout from "../components/Layout.astro";
---

<Fragment astro>
  <Layout title="Adolfo Moyano - Contact">
    <section>
      <h1>Contact</h1>
      <form>
        <input type="text">
      </form>
    </section>
  </Layout>
</Fragment>
