---
import Layout from "../components/Layout.astro";
---


<Fragment astro>
  <Layout title="Adolfo Moyano - admodevops">
    {(children) => <section>
      <h1>About Me</h1>
      <p>
        Hello! I'm Adolfo Moyano, also known as admodevops. Welcome to my
        personal webpage.
      </p>
    </section>}
  </Layout>
</Fragment>
